<div class="classifyMain">
    <cardTmp [iconName]="iconName">
        <div class="card-title">
            分类
        </div>
        <ul class="card-ul mr">
            @for (item of classifyData$ | async; track $index) {
            <!-- <li class="card-ul-li"  [fragment]="item.classifyName"> -->
            <li class="card-ul-li">
                <mat-checkbox>
                    
                </mat-checkbox>
                {{item.categoryName}}
            </li>
            }
        </ul>
    </cardTmp>
    
</div>