<div class="classifyMain">
    <cardTmp [iconName]="iconName">
        <div class="card-title">
            分类
        </div>
        <ul class="card-ul mr">
            @for (item of checkBoxSelect$ | async; track $index) {
            <li class="card-ul-li" [class.select]="item.select">
                <mat-checkbox [checked]="item.select" (change)="onSelectionChange(item,$event.checked)">

                </mat-checkbox>
                {{item.categoryName}}
            </li>
            }
        </ul>
    </cardTmp>
</div>