@import url(../../../styles.less);
@media screen and (max-width: 900px) {
  .right-layout {
    display: none;
  }
}

.layoutMain {
  // height: 1000px;
  .fcc();
  // padding: 0 40px;
  align-items: start;
  justify-content: center;


  .left-layout {
    margin: 20px 20px 0;
    flex-grow: 1;
    max-width: 1100px;
    min-height: 600px;
    // background-color: cadetblue;
    border-radius: 10px;

    // flex-basis: auto;
    // flex-shrink: 1;
  }

  
}