@font-face {
  font-family: 'HeadFont';
  src: url('https://www.clematis.top/download/font/79bac1c2-53a9-47ba-8c83-64a2fc94b8b4.woff2') format('woff2');
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
}
@font-face {
  font-family: 'Agency-Bold-Bg';
  src: url('https://www.clematis.top/download/font/5defd978-ea32-4f3a-aab8-59e2ff4b51ffAgencyB.woff2') format('woff2');
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
}
body,
li,
ul {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
a {
  text-decoration: none !important;
}
mat-icon {
  font-variation-settings: 'wght' 300;
}
.card-ul .card-ul-li {
  cursor: pointer;
  font-size: 14px;
  color: #5f5f5f;
  line-height: 1.8;
  list-style: disc;
  margin-left: 20px;
}
.card-ul .card-ul-li:hover {
  color: #FFCA9B;
  z-index: 1;
}
.f-list-li {
  cursor: pointer;
  font-size: 14px;
  color: #5f5f5f;
  line-height: 1.8;
  list-style: disc;
  margin-left: 20px;
}
.f-list-li:hover {
  color: #FFCA9B;
  z-index: 1;
}
.fb {
  display: flex;
  justify-content: space-between;
}
.fbc {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fee {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.fc {
  display: flex;
  flex-direction: column;
}
.fac {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.ac {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.fcc {
  display: flex;
  justify-content: center;
  align-items: center;
}
.fcac {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.dright {
  direction: rtl;
}
.dleft {
  direction: ltr;
}
.noSelect {
  -webkit-user-select: none;
  user-select: none;
}
.fcoc {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fcoa {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.card-shadow {
  margin-top: 30px;
  margin-right: 20px;
  padding: 20px 24px;
  border-radius: 10px;
  box-shadow: 0 0 10px #e5e5e5;
  transition: box-shadow 0.3s;
}
.card-shadow:hover {
  box-shadow: 0 0 10px #d1d1d1;
}
.shadow {
  box-shadow: 0 0 10px #e5e5e5;
  transition: box-shadow 0.3s;
}
.shadow:hover {
  box-shadow: 0 0 10px #d1d1d1;
}
.imgCover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.f36 {
  font-size: 36px;
}
.f30 {
  font-size: 30px;
}
.f24 {
  font-size: 24px;
}
.f22 {
  font-size: 22px;
}
.f20 {
  font-size: 20px;
}
.f18 {
  font-size: 18px;
}
.f16 {
  font-size: 16px;
}
.f14 {
  font-size: 14px;
}
.f12 {
  font-size: 12px;
}
.fw {
  font-weight: 500;
}
a {
  color: #000;
}
.recentCardMain {
  padding: 4px 0;
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.3s;
}
.recentCardMain .RContainer {
  display: flex;
  align-items: center;
}
.recentCardMain .RContainer .dateBox {
  background-color: #F8F9FA;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  margin: 0 5px 0 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.recentCardMain .RContainer .dateBox .day {
  font-size: 12px;
  color: #444;
  font-weight: 600;
  padding-top: 5px;
}
.recentCardMain .RContainer .dateBox .month {
  font-size: 8px;
  font-weight: 600;
  letter-spacing: -0.8px;
  color: #777;
  padding-bottom: 5px;
}
.recentCardMain .RContainer .contentBox {
  margin: 0 5px;
}
.recentCardMain .RContainer .contentBox .title {
  color: #444;
  font-weight: 600;
  font-size: 15px;
}
.recentCardMain .RContainer .contentBox .classifyName {
  color: #777;
  font-weight: 500;
  font-size: 13px;
}
.recentCardMain:hover {
  transform: scale(1.02);
  box-shadow: 0 0 15px #e5e5e5;
}
