<div class="footerMain">
    <div class="bgcontainer">
        <div class="start">
            <a href="https://beian.miit.gov.cn/" class="record_nuber">湘ICP备2025114945号-1</a>
        </div>
        <div class="end">
            <div class="button-group">

                <div class="button" (click)="copy('3103433522')">
                    <div class="icon">
                        <i class="fa-brands fa-qq"></i>
                    </div>
                </div>
                <div class="button" (click)="copy('a3103433522')">
                    <div class="icon">
                        <i class="fa-brands fa-weixin"></i>
                    </div>
                </div>
                <div class="button" (click)="hrefTo('https://github.com/grafur922')">
                    <div class="icon">
                        <i class="fa-brands fa-github"></i>
                    </div>
                </div>
                <div class="button" (click)="copy('SL3103433522@163.com')">
                    <div class="icon">
                        <i class="fa-solid fa-envelope"></i>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
