<div class="footerMain">
    <div class="bgcontainer">
        <div class="start">
            <a href="https://beian.miit.gov.cn/">湘ICP备2025114945号-1</a>
        </div>
        <div class="end">
            <!-- <a href=""><span class="iconfont icon-QQ-circle-fill"></span></a>
            <a href="mailto:SL3103433522@163.com"><span class="iconfont icon-youxiang"></span></a> -->
            <div class="button-group">

                <div class="button">
                    <div class="icon">
                        <i class="fa-brands fa-qq"></i>
                    </div>
                </div>
                <div class="button">
                    <div class="icon">
                        <i class="fa-brands fa-weixin"></i>
                    </div>
                </div>
                <div class="button">
                    <div class="icon">
                        <i class="fa-brands fa-github"></i>
                    </div>
                </div>
                <div class="button">
                    <div class="icon">
                        <i class="fa-solid fa-envelope"></i>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>