<div class="footerMain">
    <div class="bgcontainer">
        <div class="start">
            <a href="https://beian.miit.gov.cn/">湘ICP备2025114945号-1</a>
        </div>
        <div class="end">
            <div class="button-group">

                <div class="button">
                    <div class="icon">
                        <i class="fa-brands fa-qq"></i>
                    </div>
                </div>
                <div class="button">
                    <div class="icon">
                        <i class="fa-brands fa-weixin"></i>
                    </div>
                </div>
                <div class="button">
                    <div class="icon">
                        <i class="fa-brands fa-github"></i>
                    </div>
                </div>
                <div class="button" (click)="open(messageModal)">
                    <div class="icon">
                        <i class="fa-solid fa-envelope"></i>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<ng-template #messageModal let-modal>
    <div class="container p-4">
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">留言</h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
            <form>
                <div class="mb-3">
                    <label for="message-text" class="col-form-label">您的留言:</label>
                    <textarea class="form-control" id="message-text" rows="5" [(ngModel)]="message"
                        name="message"></textarea>
                </div>
            </form>
        </div>
        <div class="modal-footer my-2">
            <button type="button" class="btn btn-primary p-2" (click)="modal.close('Save click')">发送</button>
        </div>
    </div>
</ng-template>