// Dark Theme Variables
// @primary-color: #177ddc;
// @body-background: #141414;
// @component-background: #1f1f1f;
// @text-color: rgba(255, 255, 255, 0.85);
// @text-color-secondary: rgba(255, 255, 255, 0.45);
// @border-color-base: #434343;
// @heading-color: rgba(255, 255, 255, 0.9);
@head-bg:url('../assets/image/background_blue_pattern.jpg');
@head-switch-bg:url('../assets/image/background_white_pattern.jpg');
@head-font-color:#F0F8FF;
@head-border-color:rgba(240, 248, 255, 0.3);