// Light Theme Variables
// @primary-color: #1890ff;
// @body-background: #ffffff;
// @component-background: #f0f2f5;
// @text-color: rgba(0, 0, 0, 0.85);
// @text-color-secondary: rgba(0, 0, 0, 0.45);
// @border-color-base: #d9d9d9;
// @heading-color: rgba(0, 0, 0, 0.9);

// @head-height:60px;
// @head-padding:0 5%;
@head-bg:none;
@head-switch-bg:url('../assets/image/background_blue_pattern.jpg');
@head-font-color:#1a1b40;
@head-border-color:rgba(240, 248, 255, 0.3);