// Light Theme Variables
:root {
    --head-bg: none;
    --head-switch-bg: url('../assets/image/background_blue_pattern.jpg');
    --head-font-color: #1a1b40;
    --head-border-color: rgba(139, 139, 140, 0.3);
}

// Dark Theme Variables
.dark-theme {
    --head-bg: url('../assets/image/background_blue_pattern.jpg');
    --head-switch-bg: url('../assets/image/background_white_pattern.jpg');
    --head-font-color: #F0F8FF;
    --head-border-color: rgba(240, 248, 255, 0.3);
}