<div class="articleListMain">
    @for (item of articleData$|async; track $index) {
    <div class="acard" [hidden]="!visible(item.categoryId)">
        <div class="container">
            <article-card [formData]="item" [index]="$index"
                (click)="navService.view(item.articleId===undefined?'0':item.articleId) "></article-card>
        </div>
        <!-- <mat-divider></mat-divider> -->
        <hr>
    </div>
    }
    <mat-paginator [length]="6" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page"
        itemsPerPageLabel="每页">
    </mat-paginator>
</div>