<!-- <div id="smooth-wrapper"> -->
<app-header [theme]="'stroke'"></app-header>
<div class="toolsMain">

    <div class="wrapper" #wrapper>
        <div class="tool-container">
            <div class="title">工具</div>
            <div class="cardbox" #cardbox>
                <app-tools-card-template name="reflexes">反应力测试</app-tools-card-template>
                <app-tools-card-template name="typing">打字练习</app-tools-card-template>
                <app-tools-card-template name="free-cell">空当接龙解牌器</app-tools-card-template>
                <app-tools-card-template name="chat">对话</app-tools-card-template>
                <app-tools-card-template name="decide">转盘</app-tools-card-template>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
<!-- </div> -->
