<div class="toolsMain">
    <div class="top">
        <div class="fill"></div>
        <div class="title">工具</div>
    </div>
    
    <div class="tool-container">
        <app-tools-card-template name="reflexes">反应力测试</app-tools-card-template>
        <app-tools-card-template name="typing">打字练习</app-tools-card-template>
        <app-tools-card-template name="free-cell">空当接龙解牌器</app-tools-card-template>
        <app-tools-card-template name="chat">对话</app-tools-card-template>
        <app-decide name="decide">转盘</app-decide>
    </div>
</div>