<div class="container">
<div><svg
   width="180.80901"
   height="43.82"
   viewBox="0 0 47.839049 11.594042"
   version="1.1"
   id="svg1"
   sodipodi:docname="line.svg"
   inkscape:version="1.4 (86a8ad7, 2024-10-11)"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:svg="http://www.w3.org/2000/svg">
  <defs
     id="defs1" />
  <g
     inkscape:label="图层 1"
     inkscape:groupmode="layer"
     id="layer1">
    <path
       d="M 0.30829109,5.8069081 C 20.383399,-6.6611052 26.91218,19.555421 47.391656,5.8069081"
       id="line"
       sodipodi:nodetypes="cc" />
    
  </g>
</svg></div>

    <button type="button" (click)="start()" class="btn btn-primary">start</button>
</div>
