<nav class="head-main navbar navbar-expand-lg .container-fluid">
    <div class="name" (click)="test()">
        Aqua
    </div>
    <div class="list collapse navbar-collapse" id="navbarNav">
        <ul class="list-ul d-flex justify-content-center align-items-center navbar-nav ms-auto mb-2 mb-lg-0" >
            <li class="list-ul-li nav-item" name="home">首页</li>
            <li class="list-ul-li nav-item" name="tools">工具</li>
            <li class="list-ul-li nav-item" name="msg">留言</li>
            <li class="list-ul-li nav-item" name="photo-album">相册</li>
            <li class="list-ul-li nav-item" name="about">关于</li>
        </ul>
    </div>
    <button class="navbar-toggler navbar-dark" type="button" >
        <span class="navbar-toggler-icon text-light btn-icon-co"></span>
    </button>
</nav>