@font-face {
  font-family: "iconfont"; /* Project id 4903440 */
  src: url('iconfont.woff2?t=1745409454113') format('woff2'),
       url('iconfont.woff?t=1745409454113') format('woff'),
       url('iconfont.ttf?t=1745409454113') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 40px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: all 0.2s linear;
}
.iconfont:hover{
  color: #F4EFE9;
}

.icon-youxiang:before {
  content: "\e626";
}

.icon-QQ-circle-fill:before {
  content: "\e887";
}

