<div class="bg-main">

    <div class="background">
        <!-- <div class="whiteBlock"></div> -->
        <div class="bgTitle">
            <span class="title">C O D I N G . . .</span>
        </div>
        <div class="botImg">

            <div class="photo lp">
                <div class="pImg lImg"><img src="https://clematis.top/download/image/homeImage/40b042a3e3e94477773dad53c21d033d.jpg" alt="">
                </div>
            </div>
            <div class="photo rp">
                <div class="pImg rImg"><img src="https://clematis.top/download/image/homeImage/4ab6da9f4c1013bbed8b5846dc04149a.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>