@import url(../../../styles.less);
@font-face {
    font-family: 'customAli';
    src: url(../../../assets/font/AlimamaDaoLiTi.ttf);
}

@media only screen and (max-width: 900px) {

  .bg-main{
    height: 46px;
    margin-bottom: 50px;
  }
}

.fleck{
    fill: #87aad5;
}

.bg-main {
    // position: absolute;
    // z-index: -1;
    background: url(../../../assets/image/background_blue_pattern.jpg);
    // min-height: 100vh;
    .background {
        height: 100vh;
        overflow: hidden;
    }
}