.typing-main {
  min-height: 100vh;
}
.typing-main .tp-nav {
  background-color: #4a8eab;
  color: white;
}
.typing-main .tp-nav .right .caps .circle {
  width: 10px;
  height: 10px;
  background-color: #F8F9FA;
  border-radius: 100%;
}
.typing-main .content .state-group .state-ul .state-li {
  background-color: #a5c8e2;
  color: #fff;
  font-weight: 700;
  min-width: 162px;
}
.typing-main .content .state-group .state-ul .state-li > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.typing-main .content .state-group .state-ul .state-li .state-fs {
  font-size: 24px;
}
.typing-main .input-area {
  -webkit-backdrop-filter: none;
  backdrop-filter: blur(8px);
  border: #A5C8E2 0.5px solid;
  border-radius: 5px;
}
.typing-main .input-area:focus {
  box-shadow: #c2ddf1 -1px -1px 3px 2px, #c2ddf1 1px 1px 3px 2px;
  outline: none;
}
.typing-main .input-area .line {
  font-size: 30px;
  font-family: "Ubuntu Mono", monospace;
  font-weight: 600;
  color: #7d7b8b;
  font-style: normal;
}
.typing-main .input-area .line .each-char {
  -webkit-user-select: none;
  user-select: none;
  display: inline-block;
  min-width: 1px;
  white-space: pre;
}
.curChar {
  background-color: #4a8eab !important;
  color: #fff;
}
.incorrect {
  background-color: hotpink;
  color: #fff;
}
